.professionWrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.description {
  display:flex;
  flex-direction: row;
  margin-bottom: 12.5px;
}

.payment::after {
  content:'';
  display:inline-block;
  background-image: url('../../../../img/pointIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width:9px;
  height:9px;
  margin: 0 12px;
}

.location {
  display:flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.card {
  background-color: #fff;
  margin-bottom:16px
}

.favoritesBackground {
  background:yellow
}

.textPointer {
  cursor:pointer;
}