* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.boxWrapper {
  min-width:315px;
  width:100%;
  padding:20px;
  border-radius: 12px;
  background-color: #fff;
}

.submit {
  min-height:40px;
  margin-top:20px;
  width:100%;
  border-radius: 8px;;
}
